body {
  background: #333;
  color: rgba(255, 255, 255, 0.8);
}

a {
  color: lightseagreen;
}

nav {
  background: lightseagreen;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5em;
}

.logo {
  position: absolute;
  left: 1.5em;
  top: 1em;
  width: 5.9em;
}

section {
  clear: both;
}

@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: App-logo-spin 0.3s;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  padding: 8em 3em 3em;
}

.cover {
  background: orange;
  width: 10em;
  max-width: 30%;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.thumb {
  float: left;
  margin: 0 2em 2em 0;
  max-width: 50%;
}
.season {
  clear: both;
}
