// global
body {
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  font-family: Roboto, sans-serif;
  line-height: 1.8;
}
a {
  color: lightseagreen;
}
h1 {
  font-weight: 100;
}
section,
.clear {
  clear: both;
}
main {
  padding: 10em 3em 3em;
}

// grid
.float-grid {
  clear: both;
  margin: 0 -10px;
}
.grid-col-25 {
  float: left;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .grid-col-25 {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .grid-col-25 {
    width: 100%;
  }
}

// header
.main-nav {
  background: lightseagreen;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5em;
  z-index: 1;
}
.logo {
  position: absolute;
  left: 3em;
  top: 1.5em;
  width: 5.9em;
}

// effects
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
  animation-name: hvr-buzz;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.season-anchor {
  position: absolute;
  top: -7.75em;
}
.hvr-lift {
  transition: transform 0.2s;
}
.hvr-lift:hover {
  transform: translateY(-0.5em);
}
.hvr-zoom {
  transition: transform 0.5s;
}
.hvr-zoom:hover {
  transform: scale(1.1, 1.1);
}

// show
.cover {
  background: orange;
  width: 12em;
  max-width: 30%;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}
.main-title {
  margin-top: 0;
  margin-bottom: 0.4em;
  line-height: 1.2;
}
.thumb-wrap {
  background: mediumpurple;
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
}
.thumb {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.thumb-title-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.75)
  );
  padding: 0 1.5em;
  overflow: hidden;
}
.thumb-title {
  color: white;
  line-height: 1.2;
}
.no-img-thumb {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  display: block;
  margin: auto;
  transition: transform 0.5s;
}
.thumb-wrap:hover .no-img-thumb {
  transform: scale(1.1, 1.1);
}

.season {
  clear: both;
  position: relative;
  padding-bottom: 4em;
  margin-bottom: 2em;
}
.season:after {
  clear: both;
  display: table;
  content: "";
}
.cat-title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}
.cat-nav {
  display: inline-block;
  vertical-align: middle;
}
.cat-nav a {
  margin-right: 0.4em;
}

// home
.home-wrap {
  text-align: center;
}
.home-icon {
  width: 20em;
  margin: auto;
  display: block;
  max-width: 90%;
}
.home-btn {
  background: deeppink;
  color: white;
  padding: 1em 1.5em;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 2em;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
.home-bubble {
  position: absolute;
  right: 1em;
  top: 3.75em;
  background: white;
  border-radius: 2em;
  color: black;
  padding: 0.5em 1em;
}
